.datePeriodContainer{
    display: flex;
    margin-top: 11px;
    margin-left: 27px;
}
.label {
    padding-bottom: 4px;
}
.dateToContainer{
    margin-left: 28px;
}
.buttonContainer{
    margin-top: 19px;
    text-align: center;
}