.buttonContainer{
    margin-top: 7px;
    text-align: center;
}
.containerPriceType {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    margin-left: 39px;

}
.containerPriceType select {
    width: 294px;
    height: 46px;
    background: #EFEFEF;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    font-family: 'Trebuchet MS', 'serif';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #6B6B6B;
    margin-top: 6px;
}
