.table {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    font-size: 0.75rem;
}

.thead {
    z-index: 2;
    background: #efefef;
    position: sticky;
}

.thead th {
    position: sticky;
    top: -1px;
    font-weight: bold;
    background: #efefef;
    z-index: 2;
    color: #696969;
    padding: 10px 5px;
    border-width: 1px 0 0 1px;
    border-style: dashed;
    border-color: rgba(185, 185, 185, 0.65);
}

.tableTr td {
    border: 1px dashed #dddddd;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    line-height: 130%;

}

.ozon {
    color: blue !important;
}

.wb {
    color: #C71585 !important;
}

.tableContainer {
    max-height: 430px;
    overflow: auto;
    position: relative;
}
